@font-face {
    font-family: "LiberationSans-R";
    src: url("/fonts/LiberationSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "LiberationSans-I";
    src: url("/fonts/LiberationSans-Italic.ttf") format("truetype");
}

@font-face {
    font-family: "LiberationSans-B";
    src: url("/fonts/LiberationSans-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "LiberationSans-BI";
    src: url("/fonts/LiberationSans-BoldItalic.ttf") format("truetype");
}

html {
    --blue: #3a75b0;
    --green: #198754;
    --gray-100: #f8f9fa;
    --gray-200: #e9ecef;
    --grey-300: #dee2e6;
    --gray-400: #ced4da;
    --gray-500: #adb5bd;
    --success: #198754;
    --unknown1: #2D5986;
    --unknown2: #006B8F;
    --unknown3: #001166;
}

.hearder {
    display: flex;
    flex-direction: row;
}

.header_logo {
    height: 5rem;
    padding: 10% 30% 10% 20%;
}

@media screen and (max-width: 700px) and (orentation: portrait) {
    .header_logo {
        width: 2rem;
    }
}

.search_box {   
    width: 350px;
    height: 40px; 
    color: var(--blue);
    background-color: white;
    display: flex;
    align-items: center;
    margin: 1% 5% 0 0 ;
}

.search_box > i {    
    font-size: 0.5rem;
    color: var(--blue);
    margin-left: 30px;
}

.search_box > input {    
	flex: 1;
	height: 40px;
	font-size: 40px;
    align-items: center;
}


body {
    display: flex;
    flex-direction: column;
    font-size: 100%;
    background-color: var(--light-green);
    color: var(--grey);
    font-family: "Ubuntu-L", Helvetica, Arial, sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    background-color: var(--blue);
}

nav {
    width:100% ;
    font-size: 200%;
    display: flex;
    flex-direction: row;
    padding: 1% 0 0 0;
}

@media screen and (max-width: 700px) and (orentation: portrait) {
    nav {
        padding: 1% 2% 1% 1%;
    }
}

.nav_link {
    color: white;
    text-decoration: none;
    margin-left: 2%;
    margin-bottom: 1%;
}

@media screen and (max-width: 700px) and (orentation: portrait ) {
    .nav_link {
        margin-bottom: 0%;
    }
}

.central {
    display: flex;
    flex-direction: row-reverse;
    padding-bottom: 1rem;
}

@media screen and (max-width: 700px) and (orentation: portrait ) {
    .central {
        flex-direction: column;
        padding-bottom: 1rem;
    }
}

.main_section {
    background-color: #FFFFCE;
    width: 100%;
    padding: 1%;
}

.section_download{
    background-color: var(--gray-300);
}

h1 {
    font-size: 170%;
}

h2 {
    font-size: 130%;
}

h3 {
    font-size: 120%;
}

h1, h2, h3 {
    color: black;
    font-family: LiberationSans-B;
}

h4 {
    color: black;
    font-size: 100%;
    font-family: LiberationSans-R;
}

p {
    color: black;
    font-size: 110%;
    font-family: LiberationSans-R;
}

.font_R {
    font-family: LiberationSans-R, Arial, Helvetica, sans-serif;
}

.font_I {
    font-family: LiberationSans-I, Arial, Helvetica, sans-serif;
}

.font_B {
    font-family: LiberationSans-B, Arial, Helvetica, sans-serif;
}

.font_BI {
    font-family: LiberationSans-BI, Arial, Helvetica, sans-serif;
}

.row_lay_out {
    display: flex; 
    flex-direction:row;
    align-items: center;
}

.excl_mark_img {
    height: 1.3rem;
    padding: 0 1rem 0 0;
}

.download_zone {
    display: flex;
    flex-direction: column;
    background-color: var(--gray-400);
    padding: 2rem 0 2rem 0;
    border-radius:5px;
}

.download_button_font {
    background-color: var(--success);
    color: white;
    text-decoration: none;
    padding: 1rem 3rem;
    border-radius: 5px;
}

.inside_download {    
    padding: 1% 2% 2% 5%;
}

.color_unknown_3 {
    color: var(--unknown3);
}

aside {
    width: 40%;
    flex-grow: 1;
    padding: 0 0 0% 3%;
    margin-right: 5rem;
}

aside p {
    margin: 0 0 0 1rem;
}

.aside_div_1 a {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    margin: 0.5rem 0 0.5rem 1rem;
}


.aside_div_2 a {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    margin: 0.5rem 0 0.5rem 1rem;
}

@media screen and (max-width: 500px) and (orentation: portrait) {
    aside > section {
        margin-bottom: 3rem;
    }    
}

footer {
    display: flex;
    background-color: var(--grey-300);
    height: 70px;
    align-items: center;
    justify-content: space-around;
    padding: 1%;
}

.flex_grow_l {
    flex-grow: 1;
    align-self: center;
}

.flex_grow_2 {
    flex-grow: 2;
    align-self: center;
}

.link_style_1 {
    color: var(--unknown1);
    text-decoration: none;
}

.link_style_2 {
    color: var(--unknown2);
    text-decoration: none;
}

.justify_center {
    display: flex;
    justify-content: center;
}